blockquote {
  padding-left: 20px;
  border-left: 6px solid #df0d32;
}

.toolbar-wrapper {
  z-index: 1;
  box-shadow: 0 1px rgba(99,114,130,0.16);
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
}

.toolbar-block {
  margin: 0;
  background-color: #fff;
  transition: margin-left 0.1s;
}

.toolbar-block ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.toolbar-block ul li {
  margin:0;
  overflow:hidden;
  opacity:0.3;
  float:left;
}

.toolbar-block:hover ul li {
  display:block;
  width:32px;
  opacity:0.3;
  animation-delay: 2s;
  transition: width 0.3s;
}

.toolbar-block ul li.selected {
  display:block;
  opacity:0.1;
  width:32px;
}


.toolbar-block:hover ul li.selected {
  opacity:1;
}

.toolbar-block ul li button {
  border-radius: 2px;
  font-size: 15px;
  text-transform: uppercase;
  padding:0;
  margin:0;
  height:32px;
  min-width:32px;
  background-color: #fff;
  border: none;
  transition: 0.3s;
}

.toolbar-block ul li.primary button {
  opacity:1;
}

.toolbar-block ul li:hover {
  opacity:1;
}

.toolbar-block ul li:hover button, .toolbar-block ul li.selected button {
  transition: 0.3s;
}

.toolbar-block ul li button img {
  width:20px;
  height:20px;
}

/**flag **/
.toolbar-block ul li button label {
  display:none;
}

.toolbar-block ul li:hover button:hover label {
  display:block;
  position:absolute;
  margin-top:20px;
  transform:translateX(calc(-50% + 16px));

  white-space: nowrap;
  background-color: #5ba4e5;
  border-radius: 3px;
  padding:5px 10px 5px 10px;
  color: #FFF;
  -webkit-animation: fade-in 0.333s;
  animation: fade-in 0.333s;
  font-size: 10px;
}

.toolbar-block ul li button:hover label:before {
  content: '';
  position: absolute;

  left: 50%;
  top: -9px;

  margin-left: -10px;

  border-bottom: 10px solid #5ba4e5;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.editor {
  margin-left: auto;
  margin-right: auto;
}

.editable {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.editable .edit-title {
  width: 100%;
  font-size: 40px;
  line-height: 48px;
  border-style: none;
}

.editor-image {
  width: 100%;
}

.editor-image img {
  width: 100%;
}

figure {
  margin: 0px;
  padding: 0px;
}

img.active {
  box-shadow: 0 0 0 2px blue;
}

.hover-menu {
  padding-left: 10px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  position: absolute;
  z-index: 1;
  top: -10000px;
  left: -10000px;
  margin-top: -6px;
  opacity: 0;
  background-color: #222;
  border-radius: 4px;
  transition: all .1s linear;
}

.hover-menu .button {
  padding-right: 7px;
  color: #aaa;
}

.hover-menu .button[data-active="true"] {
  color: #fff;
}
