import 'draft-js-inline-toolbar-plugin/lib/plugin.css';

*:focus {
    outline: none;
}

body {
    margin: 0px;
    padding; 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 30px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    line-height: 50px;;
    margin-bottom: 40px;
    padding-bottom: 40px;
    letter-spacing: -2px;
    border-bottom: 1px solid #dbdbdb;
}

h2 {
    font-size: 28px;
    line-height: 42px;
}

h3 {
    font-size: 22px;
    line-height: 32px;
}

p {
    margin-bottom: 10px;
    font-size: 18px;
}

a {
    color:black;
}

a:hover {
    color:green;
}

blockquote {
    display: block;
    padding-left: 20px;
    border-left: 6px solid #df0d32;
    margin-left: -15px;
    padding-left: 15px;
    font-style: italic;
    color: #555;
}
pre {

	background-color: rgba(0, 0, 0, 0.05);
	font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
	font-size: 16px;
	line-height: 18px;
}

.editable
 {
    outline: none;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #dbdbdb;
}

.toolbar-wrapper {
  box-shadow: 0 1px rgba(99,114,130,0.16);
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
}

.toolbar-block {
    margin: 0;
    background-color: #fff;
    transition: margin-left 0.1s;
}


.toolbar-block ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.toolbar-block ul li {
    margin:0;
    overflow:hidden;
    opacity:0.3;
     padding-top: 6px;
     float:left;

}

.toolbar-block:hover ul li {
    display:block;
    width:32px;
    opacity:0.3;
    animation-delay: 2s;
    transition: width 0.3s;
}

.toolbar-block ul li.selected {
    display:block;
    opacity:0.1;
    width:32px;
}


.toolbar-block:hover ul li.selected {
    opacity:1;
}

.toolbar-block ul li button {
    border-radius: 2px;
    font-size: 10px;
    line-height: 15px;
    text-transform: uppercase;
    padding:0;
    margin:0;
    height:32px;
    min-width:32px;
    background-color: #fff;
    border: none;
    transition: 0.3s;
}

.toolbar-block ul li.primary button {
    opacity:1;
}

.toolbar-block ul li:hover {
    opacity:1;
}

.toolbar-block ul li:hover button, .toolbar-block ul li.selected button {
    transition: 0.3s;
}

.toolbar-block ul li button img {
    width:20px;
    height:20px;
}

/**flag **/
.toolbar-block ul li button label {
    display:none;
}

.toolbar-block ul li:hover button:hover label {
    display:block;
    position:absolute;
    margin-top:20px;
    transform:translateX(calc(-50% + 16px));

    white-space: nowrap;
    background-color: #5ba4e5;
    border-radius: 3px;
    padding:5px 10px 5px 10px;
    color: #FFF;
    -webkit-animation: fade-in 0.333s;
    animation: fade-in 0.333s;

}
.toolbar-block ul li button:hover label:before {
    content: '';
    position: absolute;

    left: 50%;
    top: -9px;

    margin-left: -10px;

    border-bottom: 10px solid #5ba4e5;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.clearfix {
  clear: both;
}

#title {
  overflow: auto;
  resize: none;
  border: 0;
  width: 100%;
  font-size: 36px;
  line-height: 40px;
  font-size: 36px;
  font-weight: bold;
  line-height: 50px;;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  margin-top: 60px;
}

/* */

.editor {
  margin-left: auto;
  margin-right: auto;
}

.editable {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}
.placeholder {
  position: absolute;
}

.button-xsmall {
  font-size: 70%;
}

.button-small {
  font-size: 85%;
}

.button-large {
  font-size: 110%;
}

.button-xlarge {
  font-size: 125%;
}

.save-button {
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}

.draftJsToolbar__buttonWrapper__1Dmqh {
  display: inline-block;
}

.draftJsToolbar__button__qi1gf {
  background: #fbfbfb;
  color: #888;
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
}

.draftJsToolbar__button__qi1gf svg {
  fill: #888;
}

.draftJsToolbar__button__qi1gf:hover, .draftJsToolbar__button__qi1gf:focus {
  background: #f3f3f3;
  outline: 0; /* reset for :focus */
}

.draftJsToolbar__active__3qcpF {
  background: #efefef;
  color: #444;
}

.draftJsToolbar__active__3qcpF svg {
  fill: #444;
}
.draftJsToolbar__separator__3U7qt {
  display: inline-block;
  border-right: 1px solid #ddd;
  height: 24px;
  margin: 0 0.5em;
}
.draftJsToolbar__toolbar__dNtBH {
  left: 50%;
  -webkit-transform: translate(-50%) scale(0);
          transform: translate(-50%) scale(0);
  position: absolute;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(220,220,220,1);
  z-index: 2;
  box-sizing: border-box;
}

.draftJsToolbar__toolbar__dNtBH:after, .draftJsToolbar__toolbar__dNtBH:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.draftJsToolbar__toolbar__dNtBH:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 4px;
  margin-left: -4px;
}
.draftJsToolbar__toolbar__dNtBH:before {
  border-color: rgba(221, 221, 221, 0);
  border-top-color: #ddd;
  border-width: 6px;
  margin-left: -6px;
}

.draftJsToolbar__blockType__27Jwn {
  box-sizing: border-box;
  border: 1px solid #ddd;
  background: #fff;
  padding: 5px;
  margin: 0;
  border-radius: 18px;
  cursor: pointer;
  height: 36px;
  width: 36px;
  line-height: 36px;
  text-align: center;
}

.draftJsToolbar__blockType__27Jwn svg {
  fill: #888;
}

.draftJsToolbar__spacer__2Os2z {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 74px;
  height: 8px;
}

.draftJsToolbar__popup__GHzbY {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background: #efefef;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(220,220,220,1);
  z-index: 3;
  box-sizing: border-box;
  width: 74px;
  margin-top: 8px;
}

.draftJsToolbar__popup__GHzbY:after, .draftJsToolbar__popup__GHzbY:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.draftJsToolbar__popup__GHzbY:after {
  border-color: rgba(251, 251, 251, 0);
  border-bottom-color: #fbfbfb;
  border-width: 4px;
  margin-left: -4px;
}
.draftJsToolbar__popup__GHzbY:before {
  border-color: rgba(221, 221, 221, 0);
  border-bottom-color: #ddd;
  border-width: 6px;
  margin-left: -6px;
}
.draftJsToolbar__buttonWrapper__1Dmqh {
  display: inline-block;
}

.draftJsToolbar__button__qi1gf {
  background: #fbfbfb;
  color: #888;
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
}

.draftJsToolbar__button__qi1gf svg {
  fill: #888;
}

.draftJsToolbar__button__qi1gf:hover, .draftJsToolbar__button__qi1gf:focus {
  background: #f3f3f3;
  outline: 0; /* reset for :focus */
}

.draftJsToolbar__active__3qcpF {
  background: #efefef;
  color: #444;
}

.draftJsToolbar__active__3qcpF svg {
  fill: #444;
}

.draftJsToolbar__separator__3M3L7 {
  display: inline-block;
  border-right: 1px solid #ddd;
  height: 24px;
  margin: 0 0.5em;
}
.draftJsToolbar__wrapper__9NZgg {
  position: absolute;
}
