<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="<%= asset_path "css/admin.css" %>" />

    <script type="text/javascript" src="<%= asset_path "js/admin.js" %>"></script>
</head>
<body>
  <%= content %>
</body>
</html>
