<div class="ui left fixed vertical menu">
  <a class="item" href="/admin/posts/new"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> New Post</a>
  <a class="item" href="/admin/posts"><i class="fa fa-file-text-o" aria-hidden="true"></i> Content</a>
  <a class="item" href="javascript:"><i class="fa fa-wrench" aria-hidden="true"></i> Settings</a>
</div>

<section class="ui items divided" style="margin-left: 16rem; margin-right: 1rem">
  <% posts.each do |post| %>
    <div class="item">
      <div class="content">
        <div class="header"><%= post.title %></div>
        <div class="description">
          <%= post.title %>
        </div>
        <div class="meta">
          <span>By: <%= post.author.name %></span>
        </div>

        <div class="extra">
          <div class="ui right floated button">
            <a href="/admin/posts/<%= post.id %>">Edit</a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>
